# npm
node_modules

# clasp files
creds.json
.clasp.json

# certs
*.pem
certs/

# build
dist/

# mac
.DS_Store

#secret
.env

# Local Excel sources for yarn generate-types (optional)
local_data/
*.xlsx